# This file is part of REANA.
# Copyright (C) 2017, 2018 CERN.
#
# REANA is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

exclude reana.yaml
exclude reana.yml
include LICENSE
include *.rst
include *.sh
include *.txt
include *.yaml
include *.yml
include .flake8
include pytest.ini
include docs/requirements.txt
include docs/cmd_list.txt
prune docs/_build
recursive-include reana_client *.py
recursive-include reana_client *.json
recursive-include docs *.py
recursive-include docs *.png
recursive-include docs *.rst
recursive-include tests *.py
recursive-include scripts *.py
