# This file is part of REANA.
# Copyright (C) 2020, 2021, 2022, 2023, 2024, 2025 CERN.
#
# REANA is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

name: CI

on: [push, pull_request]

jobs:
  lint-commitlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install commitlint
        run: |
          npm install conventional-changelog-conventionalcommits
          npm install commitlint@latest

      - name: Check commit message compliance of the recently pushed commit
        if: github.event_name == 'push'
        run: |
          ./run-tests.sh --check-commitlint HEAD~1 HEAD

      - name: Check commit message compliance of the pull request
        if: github.event_name == 'pull_request'
        run: |
          ./run-tests.sh --check-commitlint ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} ${{ github.event.pull_request.head.sha }} ${{ github.event.pull_request.number }}

  lint-shellcheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Runs shell script static analysis
        run: |
          sudo apt-get install shellcheck
          ./run-tests.sh --check-shellcheck

  lint-black:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Python dependencies
        run: pip install black

      - name: Check Python code formatting
        run: ./run-tests.sh --check-black

  lint-flake8:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Check compliance with pep8, pyflakes and circular complexity
        run: |
          pip install --upgrade pip
          pip install flake8
          ./run-tests.sh --check-flake8

  lint-pydocstyle:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Python dependencies
        run: pip install pydocstyle

      - name: Check compliance with Python docstring conventions
        run: ./run-tests.sh --check-pydocstyle

  lint-check-manifest:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Python dependencies
        run: pip install check-manifest

      - name: Check Python manifest completeness
        run: ./run-tests.sh --check-manifest

  lint-dockerfile:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check Dockerfile compliance
        run: ./run-tests.sh --check-dockerfile

  docker-build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          ./run-tests.sh --check-docker-build
          ./run-tests.sh --check-docker-run

  docs-cli-commands:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip 'setuptools<71' py
          pip install -e .[all]

      - name: Verify reana client commands list
        run: ./run-tests.sh --check-cli-cmds

  docs-cli-api:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip 'setuptools<71' py
          pip install -e .[all]

      - name: Verify reana client api docs
        run: ./run-tests.sh --check-cli-api

  docs-sphinx:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip 'setuptools<71' py
          pip install -e .[all]

      - name: Run Sphinx documentation with doctests
        run: ./run-tests.sh --check-sphinx

  python-tests:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        testenv: [lowest, release]
        python: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Setup requirements builder
        run: |
          pip install --upgrade pip 'setuptools<71' py
          pip install wheel
          pip install requirements-builder
          if [[ ${{ matrix.testenv }} == lowest ]]; then
          requirements-builder -e tests --level=min --req requirements-dev.txt setup.py > .lowest-requirements.txt
          fi
          if [[ ${{ matrix.testenv }} == release ]]; then
          requirements-builder -e tests --level=pypi --req requirements-dev.txt setup.py > .release-requirements.txt
          fi

      - name: Install Python dependencies
        run: |
          pip install -r .${{ matrix.testenv }}-requirements.txt

      - name: Run pytest
        run: ./run-tests.sh --check-pytest

      - name: Codecov Coverage
        if: matrix.python == '3.8'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml

  release-docker:
    runs-on: ubuntu-22.04
    if: >
      vars.RELEASE_DOCKER == 'true' &&
      github.event_name == 'push' &&
      startsWith(github.ref, 'refs/tags/')
    needs:
      - docs-cli-api
      - docs-cli-commands
      - docs-sphinx
      - lint-black
      - lint-check-manifest
      - lint-commitlint
      - lint-dockerfile
      - lint-flake8
      - lint-pydocstyle
      - lint-shellcheck
      - python-tests
    steps:
      - name: Release Docker image
        uses: reanahub/reana-github-actions/release-docker@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          token: ${{ secrets.DOCKER_TOKEN }}
          organisation: ${{ vars.DOCKER_ORGANISATION }}
          registry: ${{ vars.DOCKER_REGISTRY }}
          platform: |
            linux/amd64
            linux/arm64
